<h1>Notice Board</h1>

<div class="container">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <div class="chat-header"><h4>#<%= @notice_board.name %></h4></div>
      <div class="posts">
        <% @notice_board.posts.each do |post| %>
          <%= render "posts/post", post: post, tenant_is_posts_author:
          post.tenant == current_user %>
        <% end %>
      </div>
      <div id="create-post">
        <%= simple_form_for [@notice_board, Post.new], remote: true do |f| %>
          <%= f.input :description, label: false %>
          <%= f.submit "SEND" %>
<%# raise %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<% content_for :after_js do%>
  <script>
    App['notice_board_<%= @notice_board.id %>'] = App.cable.subscriptions.create({ channel: 'NoticeBoardsChannel', notice_board: <%= @notice_board.id %> }, {
      received: (data) => {
        if (data.current_user_id !== <%= current_user.id %>) {
          postsContainer = document.querySelector('.posts');
          postsContainer.insertAdjacentHTML('beforeend', data.post_partial);
          scrollLastMessageIntoView();
        }
      }
    })
  </script>
<% end %>
