<%= simple_form_for [@complaint] do |f| %>
    <%= f.error_notification %>
    <div class="form-inputs">
      <%= f.input :description %>
      <%= f.input :photo %>
    </div>

 <div class="form-actions">
    <%= f.button :submit, "Send Complaint" %>
    <%# raise %>
  </div>
<% end %>

<!-- Issue with finding unit from tenant as tenant hasnt been given unit -->
<!-- Needs to find unit through lease, only tenant has successfully been given a lease & respective unit -->
