<div class="complaints-main">
  <div class="complaint-info" id="my-complaint">
    <% if current_user.employee == %>
      <ul> <u>Made by:</u>  <%= link_to @complaint.tenant.full_name, user_path(@complaint.tenant) %></ul>
      <% else %>
      <ul> <u>Made by:</u>  <%= @complaint.tenant.full_name %></ul>
    <% end %>
    <ul> <u>Unit:</u> <%= @unit = Lease.find_by(tenant_id: @complaint.tenant.id).unit_id %></ul>
    <ul><u>Development:</u> <%# Unit.find_by(unit_id: @unit) %></ul>
    <ul> <u>Description:</u> <%= @complaint.description  %></ul>
    <ul><u>Photo:</u> <%= cl_image_tag @complaint.photo, height: 300, width: 400, crop: :fill %></ul>
    <ul><u>Resolved:</u> <%= @complaint.resolved  %></ul>
    <%= link_to edit_complaint_path(@complaint) do %>
    <button type="submit" class="primary-button">Edit</button>
  <% end %>
  </div>

  <% if @complaint.reports.exists? %>
    <div class="complaint-report">
      <%= render "reports/show" %>
    </div>
  <% end %>
</div>


<button id="foo">download img</button>

<script>
var node = document.getElementById('my-complaint');
var btn = document.getElementById('foo');
btn.onclick = function() {
node.innerHTML = "I'm an image now."
  domtoimage.toBlob(document.getElementById('my-complaint'))
    .then(function(blob) {
      window.saveAs(blob, 'my-complaint.png');
    });
}
</script>
<%# raise %>
