<!-- Tenants cards -->
<h1>Tenants</h1>
<div class="user-cards">
  <% @tenants.each do |user| %>
  <div class="user-card">
    <div class="card-top">
      <div class="top-avatar">
        <%= link_to user_path(user) do %>
          <% if user.gender == false && user.photo.file == nil%>
            <img src="https://image.flaticon.com/icons/svg/701/701995.svg" alt="", class="avatar-tenant-small">
          <% elsif user.gender == true && user.photo.file == nil %>
            <img src="https://image.flaticon.com/icons/svg/702/702018.svg" alt="", class="avatar-tenant-small">
          <% else %>
            <%= cl_image_tag user.photo, class: 'avatar-tenant-small', crop: :fill %>
          <% end %>
        <% end %>
        <%# raise %>
      </div>
    </div>
    <div class="card-bottom">
      <div class="card-job">
        <% if user.job_title == nil && user.tenant == true %>
          <h4>Tenant</h4>
        <% else %>
          <h4><%= user.job_title %></h4>
        <% end %>
      </div>
      <div class="card-info">
        <h3><%= user.full_name %></h3>
        <div class="phone">
          <i class="fas fa-phone"></i>
          <p>    <%= user.contact_number %></p>
        </div>
        <div class="email">
          <i class="far fa-envelope"></i>
          <p> <%= user.email%></p>
        </div>
        <% if user.tenant == true %>
          <div class="home">
            <% if Lease.where(tenant_id: user).to_a != nil %>
              <i class="fas fa-home"></i>
              <% @lease = Lease.where(tenant_id: user).to_a.first%>
              <% if @lease != nil %>
                <p><%= @lease.unit.development.name %> Unit: <%= @lease.unit.unit_number %></p>
              <% end %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <% end %>

</div>

<!-- Admin cards cards -->
<h1>Admins</h1>
<div class="user-cards">
  <% @admins.each do |user| %>
  <div class="user-card">
    <div class="card-top">
      <div class="top-avatar">
        <%= link_to user_path(user) do %>
          <% if user.gender == false && user.photo.file == nil%>
            <img src="https://image.flaticon.com/icons/svg/701/701995.svg" alt="", class="avatar-tenant-small">
          <% elsif user.gender == true && user.photo.file == nil %>
            <img src="https://image.flaticon.com/icons/svg/702/702018.svg" alt="", class="avatar-tenant-small">
          <% else %>
            <%= cl_image_tag user.photo, class: 'avatar-tenant-small', crop: :fill %>
          <% end %>
        <% end %>
        <%# raise %>
      </div>
    </div>
    <div class="card-bottom">
      <div class="card-job">
        <% if user.job_title == nil && user.tenant == true %>
          <h4>Tenant</h4>
        <% else %>
          <h4><%= user.job_title %></h4>
        <% end %>
      </div>
      <div class="card-info">
        <h3><%= user.full_name %></h3>
        <div class="phone">
          <i class="fas fa-phone"></i>
          <p>    <%= user.contact_number %></p>
        </div>
        <div class="email">
          <i class="far fa-envelope"></i>
          <p> <%= user.email%></p>
        </div>
        <% if user.tenant == true %>
          <div class="home">
            <% if Lease.where(tenant_id: user).to_a != nil %>
              <i class="fas fa-home"></i>
              <% @lease = Lease.where(tenant_id: user).to_a.first%>
              <p><%= @lease.unit.development.name %> Unit: <%= @lease.unit.unit_number %></p>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <% end %>

</div>


<%# raise %>

<h1>Managers</h1>
<div class="user-cards">
  <% @managers.each do |user| %>
  <div class="user-card">
    <div class="card-top">
      <div class="top-avatar">
        <%= link_to user_path(user) do %>
          <% if user.gender == false && user.photo.file == nil%>
            <img src="https://image.flaticon.com/icons/svg/701/701995.svg" alt="", class="avatar-tenant-small">
          <% elsif user.gender == true && user.photo.file == nil %>
            <img src="https://image.flaticon.com/icons/svg/702/702018.svg" alt="", class="avatar-tenant-small">
          <% else %>
            <%= cl_image_tag user.photo, class: 'avatar-tenant-small', crop: :fill %>
          <% end %>
        <% end %>
        <%# raise %>
      </div>
    </div>
    <div class="card-bottom">
      <div class="card-job">
        <% if user.job_title == nil && user.tenant == true %>
          <h4>Tenant</h4>
        <% else %>
          <h4><%= user.job_title %></h4>
        <% end %>
      </div>
      <div class="card-info">
        <h3><%= user.full_name %></h3>
        <div class="phone">
          <i class="fas fa-phone"></i>
          <p>    <%= user.contact_number %></p>
        </div>
        <div class="email">
          <i class="far fa-envelope"></i>
          <p> <%= user.email%></p>
        </div>
        <% if user.tenant == true %>
          <div class="home">
            <% if Lease.where(tenant_id: user).to_a != nil %>
              <i class="fas fa-home"></i>
              <% @lease = Lease.where(tenant_id: user).to_a.first%>
              <p><%= @lease.unit.development.name %> Unit: <%= @lease.unit.unit_number %></p>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <% end %>

</div>


<%# raise %>

<h1>Employees</h1>
<div class="user-cards">
  <% @employees.each do |user| %>
  <div class="user-card">
    <div class="card-top">
      <div class="top-avatar">
        <%= link_to user_path(user) do %>
          <% if user.gender == false && user.photo.file == nil%>
            <img src="https://image.flaticon.com/icons/svg/701/701995.svg" alt="", class="avatar-tenant-small">
          <% elsif user.gender == true && user.photo.file == nil %>
            <img src="https://image.flaticon.com/icons/svg/702/702018.svg" alt="", class="avatar-tenant-small">
          <% else %>
            <%= cl_image_tag user.photo, class: 'avatar-tenant-small', crop: :fill %>
          <% end %>
        <% end %>
        <%# raise %>
      </div>
    </div>
    <div class="card-bottom">
      <div class="card-job">
        <% if user.job_title == nil && user.tenant == true %>
          <h4>Tenant</h4>
        <% else %>
          <h4><%= user.job_title %></h4>
        <% end %>
      </div>
      <div class="card-info">
        <h3><%= user.full_name %></h3>
        <div class="phone">
          <i class="fas fa-phone"></i>
          <p>    <%= user.contact_number %></p>
        </div>
        <div class="email">
          <i class="far fa-envelope"></i>
          <p> <%= user.email%></p>
        </div>
        <% if user.tenant == true %>
          <div class="home">
            <% if Lease.where(tenant_id: user).to_a != nil %>
              <i class="fas fa-home"></i>
              <% @lease = Lease.where(tenant_id: user).to_a.first%>
              <p><%= @lease.unit.development.name %> Unit: <%= @lease.unit.unit_number %></p>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <% end %>

</div>


<%# raise %>
