<div class="user-main">
  <div class="user-profile">
    <div class="user-info">
      <%= @user.full_name %>
      <%= @user.email %>
      <%= @user.nationality %>
      <%= @user.contact_number %>
      <%= @user.age %>
      <%= @user.contact_number %>
    </div>
    <div class="user-picture">
      <%= @user.photo %>
    </div>
  </div>
</div>

