<div class="user-main">

  <div class="user-show-top">
  <% if @user.tenant == true %>
  <!-- Tenant Profile -->
    <div class="tenant-profile">
        <!-- <h2><%= Lease.where(tenant_id: @user).to_a.first.unit.development.name %></h2> -->
      <div class="tenant-avatar">
        <% if @user.photo != nil %>
        <%= cl_image_tag @user.photo, class: 'avatar-tenant-large', crop: :fill %>
        <% elsif @user.gender == false && @user.photo == false %>
          <img src="https://image.flaticon.com/icons/svg/701/701995.svg" alt="">
        <% else %>
          <img src="https://image.flaticon.com/icons/svg/702/702018.svg" alt="">
        <% end %>
      </div>
      <div class="tenant-dev-picture" style="background-image: url(<%= cl_image_path(Lease.where(tenant_id: @user).to_a.first.unit.development.photo) %>);">
      </div>
      <div class="tenant-info">
        <h1><%= @user.full_name %></h1>
        <p><i class="fas fa-home"></i> <%= Lease.where(tenant_id: @user).to_a.first.unit.development.name %></p>
        <p><i class="fas fa-list-ol"></i> Unit <%= Lease.where(tenant_id: @user).to_a.first.unit.unit_number %></p>
        <p><i class="fas fa-globe-africa"></i>  <%= @user.nationality %></p>
        <p><i class="far fa-envelope"></i>  <%= @user.email %></p>
        <p><i class="fas fa-phone"></i> <%= @user.contact_number %></p>
        <p><i class="fab fa-tumblr"></i> <%= @user.tin_number %></p>
<!--         <p><i class="fas fa-wrench"></i>  <%= Complaint.where(tenant_id: @user.id).count %></p>-->
      </div>
    </div>
<!-- Tenant Complaints -->
    <div class="tenant-complaints">
      <div class="complaints-title"><h2><%= @user.full_name%>'s Complaints</h2></div>
      <% @complaints.each do |complaint| %>
        <div class="complaint-card">
          <%= cl_image_tag @user.photo, class: 'avatar-complaint-card', crop: :fill %>
          <p><%= complaint.description.capitalize %></p>
          <% if complaint.resolved == false %>
            <i class="fas fa-times-circle fa-3x" data-toggle="tooltip" title="Not Resolved"></i>
          <% else %>
            <i class="far fa-check-circle fa-3x" data-toggle="tooltip" title="Resolved"></i>
          <% end %>
          <!-- <div class="view-complaint-modal"><i class="fas fa-eye fa-3x"></i></div> -->
        </div>
      <% end %>
    </div>
  </div>

  <div class="user-middle">
    <div class="action">
      <div class="cardo">
            <div class="face face1">
                <div class="content">
                    <img src="https://image.flaticon.com/icons/png/512/124/124736.png">
                    <h3>Lease</h3>
                </div>
            </div>
            <div class="face face2">
                <div class="content">
                    <p>View <%= @user.full_name %>'s Lease agreement for <%= Lease.where(tenant_id: @user).to_a.first.unit.development.name %> Unit <%= Lease.where(tenant_id: @user).to_a.first.unit.unit_number %></p>
                        <%= link_to user_agreement_path(@user) do %>
                          <button type="submit" class="primary-button">Lease</button>
                        <% end %>
                </div>
            </div>
        </div>
        <div class="cardo">
            <div class="face face1">
                <div class="content">
                    <img src="https://image.flaticon.com/icons/svg/2146/2146128.svg">
                    <h3>Payment History</h3>
                </div>
            </div>
            <div class="face face2">
                <div class="content">
                    <p><%= @user.full_name %>'s Payment History since <%= Lease.where(tenant_id: @user).to_a.first.start_date %></p>
                        <%= link_to user_agreement_path(@user) do %>
                          <button type="submit" class="primary-button">Lease</button>
                        <% end %>
                </div>
            </div>
        </div>
    </div>
  </div>
  <% else %>

    <div class="employee-profile">
      <div class="employee-avatar">
        <% if @user.gender == false%>
          <img src="https://image.flaticon.com/icons/svg/701/701995.svg" alt="">
        <% else %>
          <img src="https://image.flaticon.com/icons/svg/702/702018.svg" alt="">
        <% end %>
      </div>
      <div class="employee-picture">
      </div>
      <div class="employee-info">
        <div class="employee-job">
          <%= @user.job_title %>
        </div>
        <h1><%= @user.full_name %></h1>
        <p><%= @user.email %></p>
        <p><%= @user.nationality %></p>
        <p><%= @user.contact_number %></p>
        <p><%= @user.age %></p>
        <p><%= @user.contact_number %></p>
        <p><%= @user.gender %></p>
        <div class="actions">
          <i class="far fa-heart"></i>
          <a href="mailto:razapirbhai4@gmail.com" target="_blank">
            <i class="far fa-envelope" title="E-mail"></i>
          </a>
          <i class="fas fa-phone"></i>
        </div>
      </div>
    </div>
  <% end %>
</div>

<%# raise %>
