<div class="user-main">
  <div class="user-profile">
    <div class="user-picture">

    </div>
    <div class="user-info">
      <h1><%= @user.full_name %></h1>
      <p><%= @user.email %></p>
      <p><%= @user.nationality %></p>
      <p><%= @user.contact_number %></p>
      <p><%= @user.age %></p>
      <p><%= @user.contact_number %></p>
      <div class="actions">
        <i class="far fa-heart"></i>
        <a href="mailto:razapirbhai4@gmail.com" target="_blank">
          <i class="far fa-envelope" title="E-mail"></i>
        </a>
        <i class="fas fa-phone"></i>
      </div>
    </div>
  </div>
</div>

