<h1>Departments</h1>
<div class="big-dep">
  <% @departments.each do |department| %>
    <%= link_to department_path(department) do  %>
      <div class="dep-box-container">
        <ul><%= department.name %></ul>
        <ul><%= department.address %></ul>
        <ul><%= department.phone_number %></ul>
        <ul><%= department.number_of_employees %></ul>
      </div>
    <% end %>
  <% end %>
</div>

