<!-- Predefined Calculations -->
<%= from_date = @lease.start_date.strftime("%B") %>
<%= to_date = @lease.end_date.strftime("%B") %>
<%= months = [] %>


<div class="container">
  <div class="row">
    <div class="col-md-6 payment-table">
      <table class="table table-responsive table-hover">
        <thead class="title">
          <tr>
            <td class="text-center" colspan="1"><i class="fa fa-bars menu-open"></i></td>
            <td class="text-center" colspan="3">Payment</td>
          </tr>
        </thead>
        <tbody class="payment-table-content">
          <%# (@lease.duration * 12).times do  %>
          <%= (from_date..to_date).each do |month| %>
              <tr class="true">
                <td><%= cl_image_tag @user.photo, class: 'avatar-complaint-card' %></td>
                <td><%= @user.first_name[0] %>. <%= @user.last_name %></td>
                <td><%= @lease.start_date.strftime("%B")%></td>
                <td>$<span><%= @lease.rent %></span></td>
                <td></td>
                <td>Invoice No.</td>
              </tr>
          <% end %>
              <td colspan="2"></td>
              <td>Deposit</td>
              <td>$<%= @lease.deposit %></td>
             </tr>
              <td colspan="2"></td>
              <td>Total</td>
              <td><b><u>$<%= @lease.rent * (@lease.duration * 12) %></b></u></td>
            </tr>
          </tfooter>
        </tbody>
      </table>
    </div>
    <div class="col-md-6">
      <table class="table table-responsive table-hover">
        <thead class="title">
          <tr>
            <td class="text-center" colspan="1"><i class="fa fa-bars menu-open"></i></td>
            <td class="text-center" colspan="3">Traces</td>
          </tr>
        </thead>
        <tbody class="payment-table-content">
          <tr>
            <td class="text-center" colspan="4">No Traces provided</td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>
</div>
