<h2>Welcome back <%= @user.full_name %></h2>
<div class="profile-main">
  <div class="profile-top">
    <div class="profile-left">
      <div class="profile-title">
        <h1>Profile</h1>
      </div>
      <div class="profile-box-info">
        <u>Name:</u> <p><%= @user.full_name %></p>
        <u>Email:</u> <p><%= @user.email %></p>
        <% if current_user.employee %>
          <u>Open complaints:</u> <p><%= @employeecomplaints.to_a.count { |complaint| complaint.resolved == false}%></p>
          <u>Resolved complaints:</u> <p><%= @employeecomplaints.to_a.count { |complaint| complaint.resolved == true}%></p>
          <% complaintsarray = [] %>
          <% @employeecomplaints.to_a.each { |complaint| complaintsarray << (complaint.updated_at - complaint.created_at) }%>
            <ul><u>Fastest Time:</u> <%= fsttime = Time.at(complaintsarray.min).utc.strftime("%H:%M:%S")  %></ul> <!-- Need to pick that that isnt 0 -->
            <ul><u>Slowest Time:</u> <%= slowsttime = Time.at(complaintsarray.max).utc.strftime("%H:%M:%S")  %></ul>
            <% total = complaintsarray.inject(:+) %>
            <% len = complaintsarray.length %>
            <ul><u>Average Time:</u> <%= avtime = Time.at(total.to_f / len).utc.strftime("%H:%M:%S")  %></ul>
        <% else %>
          <u>Open complaints:</u> <p><%= @tenantcomplaints.to_a.count { |complaint| complaint.resolved == false}%></p>
        <% end %>
        <%= link_to edit_user_registration_path(@user) do %>
          <i class="fad fa-user-edit"></i>
        <% end %>
      </div>
      <div class="profile-box-pic">
      </div>
    </div>
    <div class="profile-complaints">
      <div class="complaints-title">
        <h1>Complaints</h1>
      </div>
      <% if current_user.tenant  %>
        <% @tenantcomplaints.to_a.each do |complaint| %>
          <div class="profile-complaint-card">
            <p><u>Made:</u> <%= complaint.tenant.first_name %></p>
            <% if complaint.resolved == false %>
              <p><u>Resolved:</u> <i class="fas fa-times-circle fa-3x" data-toggle="tooltip" title="Not Resolved"></i></p>
            <% else %>
              <p><u>Resolved:</u> <i class="far fa-check-circle fa-3x" data-toggle="tooltip" title="Resolved"></i></p>
            <% end %>
          </div>
        <% end %>
      <% else %>
        <% @employeecomplaints.to_a.each do |complaint| %>
          <div class="profile-complaint-card">
            <div class="profile-complaint-card-infor">
              <p><u>Made:</u> <%= complaint.tenant.first_name %></p>
            </div>
            <% if complaint.resolved == false %>
              <div class="profile-complaint-card-btn">
                <%= link_to new_complaint_report_path(complaint) do %>
                  <button type="submit" class="primary-button">Resolve Complaint</button>
                <% end %>
              </div>
            <% else %>
              <%= link_to complaint_path(complaint) do %>
                <i class="far fa-check-circle fa-3x" data-toggle="tooltip" title="Resolved"></i>
              <% end %>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="profile-insights">
    <div class="insight-title">
      <h1>INSIGHTS</h1>
    </div>
    <div class="bar-chart">
      <h2>Complaints Recieved</h2>
      <%= column_chart @employeecomplaints.group_by_day_of_week(:created_at, format: "%a").count, xtitle: "Day", ytitle: "Complaints", colors: ["#489099"]  %>
    </div>
    <div class="bar-chart">
      <h2>Resolved</h2>
      <%= line_chart @employeecomplaints.group_by_day_of_week(:updated_at, format: "%a").count, xtitle: "Day", ytitle: "No. of resolved complaints", colors: ["#489099"] %>
    </div>
    <div class="line-chart">
      <h2></h2>
      <%= column_chart({"Fastest Time" => "#{fsttime}", "Slowest Time" => "#{slowsttime}", "Average Time" => "#{avtime}"}, colors: ["#489099"])  %>
    </div>
    <div class="area-chart">
      <%= area_chart Complaint.where(employee_id: current_user).group_by_day(:created_at).minimum(:updated_at) %>
    </div>
  </div>
</div>

<%# raise %>

<%# line_chart @goals.map { |goal|
    {name: goal.name, data: goal.feats.group_by_week(:created_at).count}
} %>

