<div class="container">
  <h1>Edit Development</h1>

  <%= simple_form_for [@development] do |f| %>
    <%= f.error_notification %>
    <div class="form-inputs">
      <%= f.input :name,
                  hint: "leave it blank if you don't want to change it",
                  required: false,
                  input_html: { autocomplete: "New description" }   %>
      <%= f.input :address,
                  required: false %>
      <%= f.input :swimming_pool,
                  required: false  %>
      <%= f.input :gym,
                  required: false  %>
      <%= f.input :sauna_and_steam,
                  required: false  %>
      <%= f.input :generator,
                  required: false  %>
      <%= f.input :photo,
                  required: false,
                  input_html: { autocomplete: "new-photo" } %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "Send Complaint" %>
    </div>
  <% end %>
</div>
