<div class="main-ontainer">
  <div class="project-box">
    <% @developments.each do |development| %>
      <div class="dev-card">
        <% if development.photo.file == nil %>
          <div class="dev-card-picture", style="background-image: url(https://images.pexels.com/photos/2976190/pexels-photo-2976190.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500);">
        <% else %>
          <div class="dev-card-picture", style="background-image: url(<%= cl_image_path(development.photo) %>);">
        <% end %>
          <div class="dev-card-title" onclick="openInfo"><%= development.name.capitalize %></div>
          <button class="mc-btn-action" id="open-btn">
            <%= link_to development_path(development) do %>
              <i class="fa fa-bars"></i>
            <% end %>
          </button>
        </div>
        <div class="dev-card-info" id="hidden">
          <p><i class="fas fa-map-marked-alt"></i> <%= development.address %></p>
            <% available = 0 %>
            <% development.units.to_a.each do |unit|%>
              <% if unit.available == true %>
                <% available += 1 %>
              <% end %>
            <% end %>
            <p><i class="fas fa-building"></i> <%= available %> / <%= development.units.count %> Available</p>
            <% if development.gym == true %>
              <p><i class="fas fa-dumbbell"></i> Gym</p>
            <% end %>
            <% if development.swimming_pool == true %>
              <p><i class="fas fa-swimmer"></i></i> Swimming Pool</p>
            <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<!-- <script>
    for (const button of buttons) {
  button.addEventListener('click', () => {
    console.log("for .. of worked");
  });
}

  let buttons = document.querySelectorAll(".mc-btn-action")
    for (let button of buttons) {
      button.addEventListener("click", myFunction);
    }

  let cardInfo = document.querySelector(".dev-card-info-hidden");

  function myFunction() {
      cardInfo.classList.add('dev-card-info-hidden');
    }


</script> -->
<!-- <script>
  (function() {
  (".dev-card > .mc-btn-action").click(function() {
    var card = '.dev-card';
    var icon = ("i");
    icon.addClass("fa-spin-fast");

    if (card.hasClass("dev-open")) {
      card.removeClass("dev-open");

      window.setTimeout(function() {
        icon
          .removeClass("fa-arrow-left")
          .removeClass("fa-spin-fast")
          .addClass("fa-bars");
      }, 800);
    } else {
      card.addClass("dev-open");

      window.setTimeout(function() {
        icon
          .removeClass("fa-bars")
          .removeClass("fa-spin-fast")
          .addClass("fa-arrow-left");
      }, 800);
    }
  });
});
</script>
 -->
