<ul><%= cl_image_tag @development.photo, class: 'dev-show-picture'  %></ul>
<h1><%= @development.name %></h1>
<h1><%= @development.address %></h1>
<ul>GYM: <%= @development.gym %></ul>
<ul>Pool: <%= @development.swimming_pool %></ul>
<ul>S&S: <%= @development.sauna_and_steam %></ul>
<ul>Generator: <%= @development.generator %></ul>
<ul>Parkings: <%= @development.units.count * 2 %></ul>
<ul>Units: <% @development.units.count %></ul>


<div class="dev-page">
  <% @units.each do |unit| %>
    <div class="dev-unit">

      <div class="dev-unit-info">
        <%= link_to development_unit_path(@development, unit) do %>
          <% if unit.apartment == false %>
            <h4><i class="fas fa-sort-numeric-up"></i> <%= unit.unit_number %></h4>
          <% else %>
            <h4><i class="far fa-building"></i></i> <%= unit.unit_number %></h4>
          <% end %>
        <% end %>
        <h4><i class="fas fa-ruler-combined"></i> <%= unit.size %>m2</h4>
        <h4><i class="fas fa-bed"></i> <%= unit.bedrooms %></h4>
        <h4><i class="fas fa-shower"></i> <%= unit.bathrooms %></h4>
        <h4><i class="fas fa-dollar-sign"></i> <%= unit.price %></h4>
        <h4>  <%# unit.description %></h4>

      </div>
      <div class="dev-unit-occupant">
        <% if unit.leases.to_a.last == nil %>
          <div class="empty">
            <i class="far fa-eye fa-4x"></i>
          </div>
        <% elsif unit.leases.to_a.last != nil   %>
          <div class="occupied">
            <%= cl_image_tag unit.leases.to_a.last.tenant.photo, class: 'avatar-tenant-occupied '  %>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
<%= link_to new_development_unit_path(@development) do %>
 <button type="submit" class="primary-button">New Unit</button>
<% end %>



<%= link_to notice_board_path(@development) do %>
 <button type="submit" class="primary-button">Notice Board</button>
<% end %>
<%= link_to edit_development_path(@development) do %>
 <button type="submit" class="primary-button">Edit Development</button>
<% end %>
<%# link_to development_devcharts_path(@development) do %>
 <!-- <button type="submit" class="primary-button">Development Chart</button> -->
<%# end %>

