<h1><%= @development.name %></h1>
<h1><%= @development.address %></h1>

<div class="dev-page">
  <% @units.each do |unit| %>
    <div class="dev-box">
      <%= link_to development_unit_path(unit) do %>
        <p>Number:</p> <%= unit.unit_number %></h2>
      <% end %>
      <h4>Floor:</h4> <p><%= unit.floor %></p>
      <h4>Size:</h4> <p><%= unit.size %>m2</p>
      <h4>Bedrooms:</h4> <p><%= unit.bedrooms %></p>
      <h4>Bathrooms:</h4> <p><%= unit.bathrooms %></p>
      <h4>Price:</h4> <p><%= unit.price %></p>
      <h4>description:</h4> <p><%= unit.description %></p>
    </div>
  <% end %>
</div>
<%= link_to "new unit", new_development_unit_path(@development) %>



<%= link_to "Notice Board", development_notice_board_path(@development) %>
