<h1><%= @development.name %></h1>
<h1><%= @development.address %></h1>
<ul>GYM: <%= @development.gym %></ul>
<ul>Pool: <%= @development.swimming_pool %></ul>
<ul>S&S: <%= @development.sauna_and_steam %></ul>
<ul>Generator: <%= @development.generator %></ul>
<ul>Parkings: <%= @development.parking_space %></ul>
<ul>Units: <%= @development.units.count %></ul> // need to either chnage or get ride of coloum no of units //


<div class="dev-page">
  <% @units.each do |unit| %>
    <div class="dev-box">
      <%= link_to development_unit_path(unit) do %>
        <p>Number:</p> <%= unit.unit_number %></h2>
      <% end %>
      <h4>Floor:</h4> <p><%= unit.floor %></p>
      <h4>Size:</h4> <p><%= unit.size %>m2</p>
      <h4>Bedrooms:</h4> <p><%= unit.bedrooms %></p>
      <h4>Bathrooms:</h4> <p><%= unit.bathrooms %></p>
      <h4>Price:</h4> <p><%= unit.price %></p>
      <h4>description:</h4> <p><%= unit.description %></p>
    </div>
  <% end %>
</div>
<%= link_to new_development_unit_path(@development) do %>
 <button type="submit" class="primary-button">New Unit</button>
<% end %>



<%= link_to notice_board_path(@development) do %>
 <button type="submit" class="primary-button">Notice Board</button>
<% end %>
