  <h2>Number: <%= @unit.unit_number %></h2>
  <h2>Floor: <%= @unit.floor %></h2>
  <h2>Size: <%= @unit.size %>m2</h2>
  <h2>Bedrooms: <%= @unit.bedrooms %></h2>
  <h2>Bathrooms: <%= @unit.bathrooms %></h2>
  <h2>Price: <%= @unit.price %></h2>
  <h2>description: <%= @unit.description %></h2>


<% if @lease.present? %>
  <% @lease.to_a.each do |l| %>
  <p>Lease info:</p>
    <ul>Start date: <%= l.start_date %></ul>
    <ul>End date: <%= l.end_date %></ul>
    <ul>Duration: <%= l.duration %></ul>
    <ul>Rent: <%= l.rent %></ul>
    <ul>Depsoit: <%= l.deposit %></ul>
    <ul>Notes: <%= l.notes %></ul>
    <ul>Unit: <%= l.unit_id %></ul>
    <%= link_to do %>
      <ul>Tenant: <%= l.tenant_id %></ul>
    <% end %>
  <% end %>
<% else %>
  <%= link_to "NEW LEASE", new_development_unit_lease_path(@development, @unit)  %>
<% end %>

<%# raise %>
