
  <h2>Number: <%= @unit.unit_number %></h2>
  <h2>Floor: <%= @unit.floor %></h2>
  <h2>Size: <%= @unit.size %>m2</h2>
  <h2>Bedrooms: <%= @unit.bedrooms %></h2>
  <h2>Bathrooms: <%= @unit.bathrooms %></h2>
  <h2>Price: <%= @unit.price %></h2>
  <h2>description: <%= @unit.description %></h2>




    <% if @unit.leases.to_a.last != nil %>
      <p>Start Date: <%= @unit.leases.last.start_date %></p>
      <p>End Date: <%= @unit.leases.last.end_date %></p>
      <p>Tenant <%= @unit.leases.last.tenant.id %>: <%= @unit.leases.last.tenant.full_name %></p>
      <p>Duration: <%= @unit.leases.last.duration %> <% if @unit.leases.last.duration == 1 %>year <% else %>years <% end %></p>
      <p>Security Deposit: <%= @unit.leases.last.deposit %>USD</p>
      <%= @unit.leases.last.unit_id %>
    <% else %>
      <%=  link_to "New Lease" , new_development_unit_lease_path(@development, @unit) %>
    <% end %>


<%# raise %>
<!-- // Now displaying correct lease, but not showing new lease link for units without lease! Need to rethink logic for lease display // -->


<%# @lease.to_ary %>
