  <h2>Number: <%= @unit.unit_number %></h2>
  <h2>Floor: <%= @unit.floor %></h2>
  <h2>Size: <%= @unit.size %>m2</h2>
  <h2>Bedrooms: <%= @unit.bedrooms %></h2>
  <h2>Bathrooms: <%= @unit.bathrooms %></h2>
  <h2>Price: <%= @unit.price %></h2>
  <h2>description: <%= @unit.description %></h2>
